/* cmsms stylesheet: section modified: 23.10.2019 02:30:34 */
section{
    /*	width: 1500px;*/
    width:100%;
    margin-left: auto;
    margin-right: auto;
	background-color:#202020;
	padding: 5px;
text-align: center;
min-height: 1080px;
}


        
        section>.container>.zdjecia{
        	display: inline-block;
        	width: 100px;
        	background-color:#202020;
        	vertical-align: middle;
        
            text-align: center;
            margin-left: 10px;
            margin-right: 10px;
        }
            section>.container>.zdjecia>.wrapper img {
                width: 95.0%; 
                margin-top: 1%; 
                padding: 1px;
            }    
    
        section>.container>.opis{
        	display: inline-block;
        	/*width: 700px;*/
        	background-color:#202020;
        	vertical-align: middle;
        	padding-left: 10px;
        	text-align: left;
        }
        
                section>.container>.opis>ol>.podpunkty{
                	color: grey;
                	padding-left: 20px;
                	padding-top: 10px;
                	padding-bottom: 10px;
                }
                    section>.container>.opis>ol>.podpunkty>.komendy{
                	    color: white;
        	            padding-top: 5px;
                    }
    section>header>.naglowek{
    	text-transform: uppercase;
    	font-size: 14px;
    	font-weight: bold;
    	letter-spacing: .1em;
    	/*text-align: left;*/
    	padding-left: 15px;
    	padding-bottom: 15px;
    
    	word-spacing: 5px;
    	clear: both;
    	text-align: center;

    }

    section>footer>.stopka{
    	font-size: 15px;
    	/*padding:10px;*/
    }
        section>footer>.stopka>div{
        	background-color: orange;
        	color: #303030;
        	padding: 2px;
        	border-radius: 2px;
        	font-weight: bold;
        	margin-right: 2px;
        	margin-bottom: 5px;
        	display: inline-block;
        }
    
        section>footer>.stopka>div:hover{
        	background-color: #FFB611;
        	cursor: pointer;
        }
/* cmsms stylesheet: body modified: 16.10.2019 11:41:53 */
body{
	background-color: #303030;
	color: #fff;
	/*margin: 0;*/
    font-family: 'Open Sans', sans-serif;
	margin-left: auto;
	margin-right: auto;
}
body>main>article{
    text-align: center;
	margin-left: auto;
    margin-right: auto;
}

body>main>footer{
    clear: both;
	/*width: 1100px;*/
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-weight: bold;
}
#header{
    text-align: center;
}
/* cmsms stylesheet: Breadcrumbs modified: 16.10.2019 11:54:17 */
#breadcrumbs{
    margin-left: 10%;
}
.breadcrumb{
    color: grey;
}
.breadcrumb a{
    color: yellow;
}
/* cmsms stylesheet: rozwijane menu simplest copy modified: 16.10.2019 11:42:08 */
#menu {
    overflow: hidden;
    background: #e9e9e9;
    font-size: 15px;
    color: black;
    font-weight: bold;
    font-family: verdana, sans-serif;
    font-variant: small-caps;

                height: 80px;
text-align: center;

display: flex;
  justify-content: center;
}

/*wszystkie elemeny li będące w menu*/
#menu li {
    list-style-type: none;
    float: left;
    
    background: #f9e9e9;
    border: 1px solid #d5d5d5;
    margin-left: 10px;
                width: 200px;
                /*height: 40px;*/
                line-height: 45px;
cursor: default;


}


/*wszystkie napisy*/
#menu li a {
    display : block;
    text-decoration : none;



}
/*ukrycie rozwijanych*/
.unli {
/*#menu li ul {*/
    overflow: hidden;
    display: none;
}
/*podrzędne napisy*/
.unli a{
/*#menu li li a {*/
    /*width: 250px;*/
    margin-left: 5px;
    margin-right: 5px;
                    line-height: 15px;

}


/*rozwijanie podrzędnych*/
.sectionheader.menuparent:hover ul{
/*#menu li:hover ul {*/
    position: absolute;
    display: block;
    width: 210px;
    /*padding-left: -5px;*/
    margin-left: -50px;

    /*background: #aaa;*/
   /* margin-left: -10px;*/
    font-size: 14px;
}
.separator.once{
    margin-left:0;
    display:none;
}



#menu li:hover {
     border: 1px solid #d5d5d5;
     list-style-type: none;
     float: left;
     background: #f0f0f0;
     /*margin-left: 3px;*/
}


 

/*
#menu li li:hover {
     background: white;
}
 */
